.user
{
    border:1px solid #a77474ee;
    border-radius: 4px;
    padding: 16px;
    margin: 12px o ;
    margin-bottom: 10px;

}
.user-main{   
    margin-bottom: 20px;
    margin-left: 5px;
}
.user-footer button{
    margin-right: 8px;
    margin-left: 5px;
}
